body{
    margin: 0px;
    padding: 0px;
   
    color: #fdfffc;
    text-align: center;
}
input{
    width: 75px;
    height: 50px;
    font-size: 45px;
    border-radius: 10px;
    margin: 10px;
    background-color: white;
    color: black;
}
.btn:hover{
    background-color: yellow;
    cursor: pointer;
}
